<!DOCTYPE html>
<html>
  <head>
    <title>FARMA-ALG</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="container clearfix">
      <%= yield %>
    </div>


    <%= render 'shared/footer' %>
  </body>
</html>
